In [ ]:
%cd /content/drive/MyDrive/Colab\ Notebooks

/content/drive/MyDrive/Colab Notebooks

In [ ]:
import pandas as pd
import numpy as np
import xgboost as xgb
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
import joblib

In [ ]:
df_train_validation = pd.read_csv("final_train_val.csv", low_memory=False, index_col="id")
df_test = pd.read_csv("final_test.csv", low_memory=False, index_col="id")

/usr/local/lib/python3.7/dist-packages/numpy/lib/arraysetops.py:580: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [ ]:
df_train_validation.columns

Index(['MONTH', 'DAY', 'DAY_OF_WEEK', 'FLIGHT_NUMBER', 'SCHEDULED_DEPARTURE',
       'TAXI_OUT', 'SCHEDULED_ARRIVAL', 'ARRIVAL_DELAY', 'LATITUDE_origin',
       'LONGITUDE_origin', 'LATITUDE_arrival', 'LONGITUDE_arrival',
       'AIRLINE_AA', 'AIRLINE_AS', 'AIRLINE_B6', 'AIRLINE_DL', 'AIRLINE_EV',
       'AIRLINE_F9', 'AIRLINE_HA', 'AIRLINE_MQ', 'AIRLINE_NK', 'AIRLINE_OO',
       'AIRLINE_UA', 'AIRLINE_US', 'AIRLINE_VX', 'AIRLINE_WN',
       'scaled_DEPARTURE_TIME', 'scaled_WHEELS_OFF', 'scaled_SCHEDULED_TIME',
       'scaled_DISTANCE'],
      dtype='object')

In [ ]:
df_test.head()

    MONTH  DAY  ...  scaled_SCHEDULED_TIME  scaled_DISTANCE
id              ...
0       7    1  ...               0.606742         0.832849
1       7    1  ...               2.022472         2.393895
2       7    1  ...               1.123596         1.409884
3       7    1  ...               0.617978         0.944767
4       7    1  ...               2.707865         3.193314

[5 rows x 29 columns]

In [ ]:
pd.read_csv("flights_test.csv").head()

   id  YEAR  MONTH  ...  SCHEDULED_TIME  DISTANCE SCHEDULED_ARRIVAL
0   0  2015      7  ...           177.0      1222               500
1   1  2015      7  ...           303.0      2296               808
2   2  2015      7  ...           223.0      1619               548
3   3  2015      7  ...           178.0      1299               503
4   4  2015      7  ...           364.0      2846               912

[5 rows x 17 columns]

In [ ]:
def missingValuesInfo(df):
    total = df.isnull().sum().sort_values(ascending = False)
    percent = round(df.isnull().sum().sort_values(ascending = False)/len(df)*100, 2)
    temp = pd.concat([total, percent], axis = 1,keys= ['Total', 'Percent'])
    return temp.loc[(temp['Total'] > 0)]

missingValuesInfo(df_train_validation)

Empty DataFrame
Columns: [Total, Percent]
Index: []

In [ ]:
# Split: for XGBoost
df_train, df_validation = train_test_split(df_train_validation, test_size=0.20, random_state = 42)
X_train, y_train = df_train.drop("ARRIVAL_DELAY", axis=1), df_train["ARRIVAL_DELAY"]
X_val, y_val = df_validation.drop("ARRIVAL_DELAY", axis=1), df_validation["ARRIVAL_DELAY"]
X_test = df_test

In [ ]:
from lightgbm import LGBMRegressor

In [ ]:
# Hyperparameter tuning
from hyperopt import STATUS_OK, Trials, fmin, hp, tpe


space={'max_depth': hp.quniform("max_depth", 3, 18, 1),
        'gamma': hp.uniform ('gamma', 1,9),
        'reg_alpha' : hp.quniform('reg_alpha', 40,180,1),
        'reg_lambda' : hp.uniform('reg_lambda', 0,1),
        'colsample_bytree' : hp.uniform('colsample_bytree', 0.5,1),
        'min_child_weight' : hp.quniform('min_child_weight', 0, 10, 1),
        'n_estimators': 180,
        'seed': 0
    }

def objective(space):
    reg = xgb.XGBRegressor(n_estimators =space['n_estimators'], 
                           max_depth = int(space['max_depth']),
                           gamma = space['gamma'], 
                           reg_alpha = int(space['reg_alpha']),
                           min_child_weight=int(space['min_child_weight']),
                           colsample_bytree=int(space['colsample_bytree']))

    eval_set  = [(X_train, y_train), (X_val, y_val)]

    reg.fit(X_train, y_train, eval_set=eval_set, eval_metric = 'rmse',
						early_stopping_rounds=10,verbose=False)
    val_pred = reg.predict(X_val)
    mse = mean_squared_error(y_val, val_pred)
    return{'loss':mse, 'status': STATUS_OK }

trials = Trials()
best_hyperparams = fmin(fn=objective,
            space=space,
            algo=tpe.suggest,
            max_evals=5,
            trials=trials)

print(best_hyperparams)

print("The best hyperparameters are : ","\n")
print(best_hyperparams)

In [ ]:
best_hyperparams = {'colsample_bytree': 0.5792280519850819, 'gamma': 2.066360196498205, 'max_depth': 17, 'min_child_weight': 9, 'reg_alpha': 169, 'reg_lambda': 0.8100274580712421}

xg_reg = xgb.XGBRegressor(**best_hyperparams)
xg_reg.fit(X_train,y_train)
val_pred = xg_reg.predict(X_val)
mse = mean_squared_error(y_val, val_pred)
print(mse)

[16:48:51] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
10.00209335087714

In [ ]:
joblib.dump(xg_reg, "xgreg.pkl")

['xgreg.pkl']

In [ ]:
eval_pred = xg_reg.predict(X_test)

In [ ]:
# GradientBoostingRegressor
# build our model scoring function
kfolds = KFold(n_splits=10, shuffle=True, random_state=42)
def cv_mse(model, X, y):
    mse = - cross_val_score(model, X, y, scoring="neg_mean_squared_error", cv=kfolds)
    return (mse)

X_train_cv, y_train_cv = df_train_validation.drop("ARRIVAL_DELAY", axis=1), df_train_validation["ARRIVAL_DELAY"]
gbr = GradientBoostingRegressor()
score = cv_mse(gbr, X_train_cv, y_train_cv)
print(score)

In [ ]:
gbr.fit(X_train_cv, y_train_cv)
joblib.dump(gbr, "gradient_boosting_regressor.pkl")

In [ ]:
pd.DataFrame(eval_pred, columns=['ARRIVAL_DELAY']).to_csv("flight_result.csv", index_label='id')